body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-overlay video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    text-align: center;
    position: relative;
}

.background {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
}
.Atatürk-container {
    position: relative;
    animation: fadeIn 10s ease-in forwards;
}

.Atatürk {
    width: 120%;
    opacity: 0;
    position: fixed;
    left: 0 !important;
    margin: 0%;
    animation: fadeIn 10s ease-in forwards;
}
.hidden {
  opacity: 0;
}

.show-cumhuriyet {
  animation: typewriter 2s steps(10) forwards, blink 0.6s step-end infinite;
  animation-delay: 0s !important;
  opacity: 1 !important;
  width: 15ch !important;
}

.show-yıl, .show-kutlu {
  animation: typewriter 2s steps(10) forwards, blink 0.6s step-end infinite;
  animation-delay: 0.5s !important;
  opacity: 1 !important;
  width: 15ch !important;
}
.cumhuriyet {
    position: fixed;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: rgba(255, 0, 0, 0);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typewriter 2s steps(10) 2s forwards, blink 0.6s step-end infinite 1s;
    opacity: 0;
    animation-delay: 12s;
    animation-fill-mode: forwards;
}

.yıl {
    position: fixed;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: rgba(255, 0, 0, 0);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typewriter 2s steps(10) 2s forwards, blink 0.6s step-end infinite 1s;
    opacity: 0;
    animation-delay: 12s;
    animation-fill-mode: forwards;
}

.kutlu {
    position: fixed;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: rgba(255, 0, 0, 0);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typewriter 2s steps(10) 2s forwards, blink 0.6s step-end infinite 1s;
    opacity: 0;
    animation-delay: 12s;
    animation-fill-mode: forwards;
}

/* Animasyonlar */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes typewriter {
    0% {
        width: 0;
        opacity: 1;
    }
    50% {
        width: 10ch;
        opacity: 1;
    }
    100% {
        width: 15ch;
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#mainContent {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#playBtn {
  position: absolute;
  z-index: 1000;
  font-size: 24px;
  padding: 10px 20px;
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}